<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DateTimeFormatterDB"
			 connectionString="Server=127.0.0.1,1433;
                           Database=DateTimeFormatterDB;
                           User Id=mylogin;
                           Password=MyPassword123!;
                           TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>